.App {
  text-align: center;
}
img {
  max-width: 100%;
}
button {
  cursor: pointer;
  outline: none;
  appearance: none;

  border: 1px solid #444;
  border-radius: 20px;
  padding: 7px 12px;
  font-size: 16px;
  background-color: #fff;
}
button:hover {
  background-color: #444;
  color: #fff;
}

.app-koala {
  margin-top: 20px;
  width: 150px;
  animation: bounce ease infinite .4s alternate;
}

.btn-wrap {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.btn-wrap button + button {
  margin-left: 10px;
}

.modalWrap {
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  width: 70%;
  max-width: 350px;
  height: 45vh;
  padding: 10px;
  background-color: #fff;
  border-radius: 30px;
  animation: fade-in-bottom .5s;
  position: relative;
}
.modal-flex {
  justify-content: center;
}
.modal-img {
  width: 150px;
  border-radius: 50%;
}
.modal-text {
  background-color: #fdb776;
  padding: 7px 3px;
  max-width: 270px;
  margin: 0px auto;
  position: relative;
  box-sizing: border-box;
  top: -30px;
}
.modal-text::before {
  content: '';
  position: absolute;
  top: -10px;
  right: 50%;
  transform: translateX(-50%);
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 12.5px 15px 12.5px;
  border-color: transparent transparent #fdb776 transparent; 
}
.modal-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}
.modal-share {
  background-color: #1da1f2;
  color: #fff;
  border: none;
}

.App-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #666;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
  pointer-events: none;
}


@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}
@keyframes fade-in-bottom {
  from {
    display: none;
    transform: translateY(80px);
  }
  to {
    display: block;
    transform: translateY(0);
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
